@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --secondary-strong: 214 32% 88%;
  --secondary-strong-foreground: 222.2 47.4% 10%;
  --accent: 221.2 83.2% 53.3%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 12px;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
  --border: 216 34% 17%;
  --input: 216 34% 17%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 66% 8.4%;
  --secondary: 223 47% 11%;
  --secondary-foreground: 210 40% 98%;
  --secondary-strong: 223 47% 18%;
  --secondary-strong-foreground: 210 40% 96%;
  --accent: 217.2 91.2% 59.8%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224 71.4% 4.1%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: "Inter", system-ui, -apple-system, sans-serif;
  }
  code,
  textarea,
  pre {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }
}
